@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.btn {
  display: flex;
  padding: 0.8rem 2rem;
  border-radius: 100px;
  font-weight: bold;
}
.btn > p::before {
  content: "+";
}
